.main {
	display: flex;

	&.page-main {
		min-height: calc(100vh - var(--header-height));

		@media (max-width: 950px) {
			position: relative;
			min-height: auto;
		}
	}

	&.have-thumb {
		position: relative;

		& .main__container {
			position: relative;
			padding-right: 0;
		}

		& .main-info {
			max-width: 900px;
			padding-right: 100px;

			@media (max-width: 1400px) {
				padding-right: 24px;
			}
		}

		@media (max-width: 950px) {
			position: relative;
		}
	}

	&.have-breadcrumbs {

		& .breadcrumbs {

			@media (max-width: 950px) {
				padding: 0;
				margin-bottom: 24px;
			}
		}
	}

	& .breadcrumbs {
		position: absolute;
		z-index: 2;
		top: 0;
		left: calc((100vw - var(--container-width)) / 2 + var(--container-padding));

		@media (max-width: $container-width + px) {
			left: calc(var(--container-padding))
		}

		@media (min-width: 951px) {

			& .breadcrumbs__container {
				padding: 0;
			}
		}

		@media (max-width: 950px) {
			position: initial;
		}
	}

	@media (max-width: 950px) {
		display: initial;
	}
}

.main__container {
	width: 100%;
	display: flex;

	@media (max-width: 950px) {
		flex-direction: column;
		padding: 0;
	}
}

.main-info {
	position: relative;
	width: 100%;
	max-width: 690px;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 72px 0;
	padding-right: 24px;

	@media (max-width: 950px) {
		position: relative;
		z-index: 3;
		max-width: none;
		color: $light;
		padding: 64px var(--container-padding);
	}

	@media (max-width: $mobile-l) {
		padding: 32px var(--container-padding);
	}
}

.main__content {
	margin-bottom: 32px;

	& > * {

		&:not(:last-child) {
			margin-bottom: 48px;

			@media (max-width: $mobile-l) {
				margin-bottom: 32px;
			}
		}
	}
}

.main__title {

}

.main__text {
	// max-width: 354px;
}

.main__list {

}

.main__list-item {
	display: flex;
	font-size: 18px;

	&:not(:last-child) {
		margin-bottom: 32px;

		@media (max-width: $mobile-l) {
			margin-bottom: 24px;
		}
	}

	&::before {
		content: '';
		display: inline-block;
		@include strictSize(24px);
		border-radius: 50%;
		background: center/8px no-repeat $accent url('data:image/svg+xml,%3Csvg width=\"8\" height=\"8\" viewBox=\"0 0 8 8\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.43695 0.820044C7.36298 0.855044 7.01495 1.19664 4.93695 3.27382L2.52289 5.68697L1.57758 4.7435C1.05766 4.22461 0.607656 3.7872 0.577578 3.77148C0.500546 3.73125 0.309984 3.73132 0.228828 3.77164C0.144312 3.81361 0.0784839 3.88467 0.0339058 3.98204C-0.0126254 4.08367 -0.00815669 4.20467 0.0461402 4.31343C0.0948121 4.41095 2.24456 6.5607 2.34208 6.60937C2.38012 6.62836 2.45134 6.64754 2.50036 6.65198C2.5745 6.6587 2.60487 6.65306 2.68117 6.61839C2.76428 6.58062 3.01437 6.33523 5.3465 4.00311C7.67862 1.67098 7.92401 1.42089 7.96178 1.33778C7.99648 1.2614 8.00209 1.23114 7.99536 1.15673C7.97653 0.949184 7.82481 0.800465 7.61709 0.78595C7.5393 0.780512 7.50792 0.78645 7.43695 0.820044Z\" fill=\"white\"/%3E%3C/svg%3E');
		margin-right: 24px;

		@media (max-width: $mobile-l) {
			margin-right: 12px;
		}
	}
}

.main__btn {
	min-width: 216px;
}

// Слайдер
.main-slider {
    width: calc((var(--container-width) / 2) + (100vw - var(--container-width)) / 2);
	margin-right: calc((-100vw + var(--container-width)) / 2 - var(--container-padding));

	& .swiper-container {
		width: 100%;
		height: 100%;
	}

	@media (max-width: $container-width + px) {
		width: 50%;
		margin-right: 0;
	}

	@media (max-width: 950px) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.main__slider {
	width: 100%;
	height: 100%;
	border-radius: $radius 0 0 $radius;
	overflow: hidden;

	&.is-crop {
		padding: 0;
		margin: 0;
	}

	@media (max-width: 950px) {
		border-radius: 0;

		&::before {
			content: '';
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: create-rgba(#000, .4);
		}
	}
}

.main__slide {
	position: relative;
	width: 100%;
	height: 100%;

	& img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

// Контейнер с цифрами
.main__digits {
	display: flex;
	flex-wrap: wrap;
	margin: -32px -50px;
	margin-top: auto;

	& > * {
		margin: 16px 50px;
	}

	@media (max-width: 1200px) {
		margin: -16px -32px;
		margin-top: auto;

		& > * {
			margin: 16px 32px;
		}
	}

	@media (max-width: 1200px) {
		margin: -16px -24px;
		margin-top: auto;

		& > * {
			margin: 16px 24px;
		}
	}

	@media (max-width: $mobile-l) {
		margin: -12px -16px;
		margin-top: auto;

		& > * {
			margin: 12px 16px;
		}
	}
}

// Блок с изображением
.main-thumb {
	min-width: 50%;
	max-height: 1000px;
    width: calc((var(--container-width) / 2) + (100vw - var(--container-width)) / 2);
	margin-right: calc((-100vw + var(--container-width)) / 2 - var(--container-padding));

	@media (max-width: $container-width + px) {
		width: 50%;
		margin-right: 0;
	}

	@media (max-width: 950px) {
		position: absolute;
		top: 0;
		left: 0;
		min-width: auto;
		max-height: none;
		width: 100%;
		height: 100%;
	}
}

.main-thumb__img {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: $radius 0 0 $radius;
	overflow: hidden;

	& img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	@media (max-width: 950px) {
		border-radius: 0;

		&::before {
			content: '';
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: create-rgba(#000, .5);
		}
	}
}