.s-product__slider.is-crop {
    padding: 30px;
    margin: -30px;
}

.s-product__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px;

	@media (max-width: 1100px) {
		grid-template-columns: 3fr;
	}

	@media (max-width: 1100px) {
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
	}

	@media (max-width: 800px) {
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
	}

	@media (max-width: 550px) {
		grid-template-columns: 1fr;
	}
}