{% from "components/button.njk" import btn %}

<div class="profile">
	<div class="profile__container">
		<div class="profile__body">
			<div class="profile__content">
				<h2 class="title-1 profile__title">Company <b>profile</b></h2>
				<p class="profile__text">
					Bigtork has always focused on the sales, production, R&D
					and design of pneumatic actuators for industrial process control valves, and has signed long-term ORM cooperation services
					with foreign automatic valve companies.
					<br><br>
					The company's main products are fork-type actuators, rack-type actuators, linear actuators and special actuators and other products.
					<br><br>
					The company has a complete quality management system
					and complete certification qualifications, as well as advanced manufacturing and processing equipment and complete product testing methods.
				</p>
				{{ btn( "profile__btn", "More info" ) }}
			</div>
		</div>
	</div>
</div>