
<section class="section company-dev">
	<div class="company-dev__container">
		<div class="company-dev__img"><img src="./assets/img/company-development.jpg" alt=""></div>
		<div class="company-dev__content">
			<h2 class="title-2 company-dev__title">Company <b>Development</b></h2>
			<p class="company-dev__text">
				The BG series shift fork actuators are designed in a modular product line for operating quarter-turn control valves such as on-off or frequently adjusted ball, butterfly
				and plug valves.
				<br><br>
				The connection size conforms to the ISO5211 standard and can be perfectly installed
				on the valve that conforms to the ISO standard connection size.
				<br><br>
				The BG series shift fork actuators are designed in a modular product line for operating quarter-turn control valves such as on-off or frequently adjusted ball, butterfly
				and plug valves.
			</p>
		</div>
	</div>
</section>