{% from "components/button.njk" import btn %}
{% from "sections/breadcrumbs.njk" import breadcrumbs %}

<main class="main have-thumb have-breadcrumbs">
	{{ breadcrumbs( [ 'Главная', 'О компании' ] ) }}
	<div class="main__container">
		<div class="main-info">
			<div class="main__content">
				<h1 class="title-1 main__title">About <span>BIGTORK</span></h1>
				<p class="main__text">
					Bigtork has always focused on the sales, production, R&D and design of pneumatic actuators
					for industrial process control valves, and has signed long-term ORM cooperation services
					with foreign automatic valve companies.
					<br><br>
					The company's main products are fork-type actuators, rack-type actuators, linear actuators
					and special actuators and other products. The company has a complete quality management system and complete certification qualifications, as well as advanced manufacturing
					and processing equipment and complete product testing methods.
					<br><br>
					Bigtork provides the best technical services and solutions for industrial process control valves, dedicated to improving the control performance and stability of control valves.
					<br><br>
					• Quick response services improve operational efficiency, always one step ahead
					of the competition.
					<br><br>
					• Leverage our expertise to help you quickly and correctly select products, extend control
					valve maintenance intervals, and enhance your competitive advantage
					<br><br>
					• The technical team is constantly striving to find the best solution, providing technical support services according to needs at every stage of the project.
				</p>
				{{ btn( "main__btn", "More info" ) }}
			</div>
			<div class="main__digits">
				<div class="b-digit">
					<span class="title-1 b-digit__value">2000</span>
					<span class="b-digit__text">production capacity</span>
				</div>
				<div class="b-digit">
					<span class="title-1 b-digit__value">60000</span>
					<span class="b-digit__text">floor space</span>
				</div>
			</div>
		</div>
		<div class="main-thumb">
			<div class="main-thumb__img"><img src="./assets/img/main/1.jpg" alt=""></div>
		</div>
	</div>
</main>