{% from "blocks/sectionHeader.njk" import sectionHeader %}
{% from "cards/photo.njk" import photo %}
{# {% from "blocks/sliderForCards.njk" import sliderForCards %} #}

<section class="section s-photo">
	<div class="s-photo__container">
		{{ sectionHeader( "Фотографии <b>производства</b>", "Lorem ipsum dolor sit amet dolore consectetur adipiscing" ) }}
		<div class="s-photo__body">
			<div class="swiper-container">
				<div class="swiper is-crop s-photo__slider" data-swiper="photo">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							{{ photo( './assets/img/case/1.jpg' ) }}
						</div>
						<div class="swiper-slide">
							{{ photo( './assets/img/case/2.jpg' ) }}
						</div>
						<div class="swiper-slide">
							{{ photo( './assets/img/case/3.jpg' ) }}
						</div>
						<div class="swiper-slide">
							{{ photo( './assets/img/case/4.jpg' ) }}
						</div>
						<div class="swiper-slide">
							{{ photo( './assets/img/case/3.jpg' ) }}
						</div>
					</div>
				</div>
				<div class="swiper__arrows">
					<button class="swiper-arrow s-photo__arrow is-prev"></button>
					<button class="swiper-arrow s-photo__arrow is-next"></button>
				</div>
			</div>
		</div>
	</div>
</section>