@mixin title {
	font-weight: 600;

	& span,
	& b,
	& strong {
		color: $accent;
	}
}

.title-1 {
	@include title;

	font-size: 64px;

	@media (max-width: 1100px) {
		font-size: 54px;
	}

	@media (max-width: 850px) {
		font-size: 48px;
	}

	@media (max-width: $mobile-l) {
		font-size: 36px;
	}
}

.title-2 {
	@include title;

	font-size: 48px;

	@media (max-width: $tablet) {
		font-size: 36px;
	}

	@media (max-width: $mobile-l) {
		font-size: 26px;
	}
}