.b-digit {
	display: flex;
	flex-direction: column;
}

.b-digit__value {

	&::after {
		content: '+';
		color: $accent;
	}
}

.b-digit__text {
	margin-top: 12px;

	@media (max-width: $mobile-l) {
		margin-top: 6px;
	}
}