{# Стандартная кнопка #}
{% macro btn( classes='', value='' ) %}
	<button class="btn is-accent {{ classes }}">{{ value }}</button>
{% endmacro %}

{# Круглая заполненная стрелка #}
{% macro arrowRound( classes='' ) %}
	<div class="arrow-round {{ classes }}"></div>
{% endmacro %}