{% from "components/button.njk" import btn %}
{% from "sections/breadcrumbs.njk" import breadcrumbs %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Document</title>
		<link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
		<div class="wrapper">
			{% include "sections/header.njk" %}

			<main class="main have-thumb have-breadcrumbs page-contacts">
				{{ breadcrumbs( [ 'Главная', 'Контакты' ] ) }}
				<div class="main__container">
					<div class="main-info">
						<div class="main__content">
							<h1 class="title-1 main__title">Contact <span>Us</span></h1>
							<div class="main-contact">
								<div class="main-contact__block">
									<span class="main-contact__block-title">Телефон:</span>
									<div class="main-contact__block-list">
										<a href="#" class="link main-contact__block-link">+7 993 823 283</a>
										<a href="#" class="link main-contact__block-link">+7 993 823 283</a>
									</div>
								</div>
								<div class="main-contact__block">
									<span class="main-contact__block-title">Электронная почта:</span>
									<div class="main-contact__block-list">
										<a href="#" class="link main-contact__block-link">sales@bigtork.com3</a>
										<a href="#" class="link main-contact__block-link">gmail@gmail.com</a>
									</div>
								</div>
								<div class="main-contact__block">
									<span class="main-contact__block-title">Адрес:</span>
									<p class="main-contact__block-text">
										998 Yuanqu Avenue, Anfeng Industrial Zone, Oubei, Yongjia, Zhejiang, China.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="main-thumb">
						<div class="main-thumb__img">
							<iframe src="https://yandex.ru/map-widget/v1/-/CCURyUv7CB" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>
						</div>
					</div>
				</div>
			</main>

			<div class="content">
				<div class="section"></div>
			</div>
			{% include "sections/footer.njk" %}
		</div>

		<script src="./assets/js/bundle.js"></script>
    </body>
</html>
