{% from "components/button.njk" import btn %}
{% from "sections/breadcrumbs.njk" import breadcrumbs %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Document</title>
		<link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
		<div class="wrapper">
			{% include "sections/header.njk" %}

			<main class="main have-thumb have-breadcrumbs">
				{{ breadcrumbs( [ 'Главная', 'Решения' ] ) }}
				<div class="main__container">
					<div class="main-info">
						<div class="main__content">
							<h1 class="title-1 main__title">Решения <span>BIGTORK</span></h1>
							<p class="main__text">
								Пневмоприводы Bigtork надежно работают в странах Европы, Азии и Ближнего Востока - на нефтеперерабатывающих заводах, на электростанциях, на станциях водоочистки и водоподготовки, во всех отраслях промышленности – управляют потоками жидкостей или газов, порошковых или гранулированных сред.
							</p>
						</div>
					</div>
					<div class="main-thumb">
						<div class="main-thumb__img"><img src="./assets/img/main/1.jpg" alt=""></div>
					</div>
				</div>
			</main>

			<div class="content">

				<div class="section s-advant">
					<div class="s-advant__container">
						<div class="s-advant__body">
							<div class="c-advant">
								<div class="c-advant__wrap">
									<div class="c-advant__img"><img src="./assets/img/company-development.jpg" alt=""></div>
									<div class="c-advant__content">
										<span class="title-2 c-advant__title">Работа с арматурой <span>любого типа</span></span>
										<p class="c-advant__text">
											Наши пневмоприводы отвечают индивидуальным требованиям заказчика. Предлагаем широкий ряд продукции, включающий как линейные, так и поворотные приводы с реечным и кулисным механизмами. Диапазон усилий и моментов позволяет нам управлять арматурой различных типоразмеров.
										</p>
									</div>
								</div>
							</div>
							<div class="c-advant">
								<div class="c-advant__wrap">
									<div class="c-advant__img"><img src="./assets/img/company-development.jpg" alt=""></div>
									<div class="c-advant__content">
										<span class="title-2 c-advant__title">Высокая <span>надежность</span></span>
										<p class="c-advant__text">
											Пневмоприводы Bigtork соответствуют международным стандартам, рассчитаны на длительные сроки эксплуатации при минимальном техническом обслуживании, демонстрируют надежную и безопасную работу в самых различных климатических условиях.
										</p>
									</div>
								</div>
							</div>
							<div class="c-advant">
								<div class="c-advant__wrap">
									<div class="c-advant__img"><img src="./assets/img/company-development.jpg" alt=""></div>
									<div class="c-advant__content">
										<span class="title-2 c-advant__title">Управление</span>
										<p class="c-advant__text">
											Система управления является неотъемлемой частью любого привода. Bigtork обладает большим опытом
											в конструировании и сборке любых типов систем управления, работающих в различных режимах –
											вкл./выкл., регулирования и аварийного срабатывания, которые удовлетворяют требованиям любого заказчика. Системы управления могут монтироваться на панели или в специальном шкафу, как на самом приводе, так и на расстоянии от него.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				{% include "sections/caseSlider.njk" %}

			</div>
			{% include "sections/footer.njk" %}
		</div>

		<script src="./assets/js/bundle.js"></script>
    </body>
</html>
