{% from "sections/breadcrumbs.njk" import breadcrumbs %}
{% from "blocks/sectionHeader.njk" import sectionHeader %}
{% from "cards/photo.njk" import photo %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Document</title>
		<link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
		<div class="wrapper">
			{% include "sections/header.njk" %}

			<main class="main have-thumb have-breadcrumbs">
				{{ breadcrumbs( [ 'Главная', 'Документация' ] ) }}
				<div class="main__container">
					<div class="main-info">
						<div class="main__content">
							<h1 class="title-1 main__title">Документация <span>BIGTORK</span></h1>
							<p class="main__text">
								The BG series shift fork actuators are designed in a modular product line for operating quarter-turn control valves such as on-off or frequently adjusted ball, butterfly
								and plug valves.
								<br><br>
								The connection size conforms to the ISO5211 standard and can be perfectly installed
								on the valve that conforms to the ISO standard connection size.							</p>
						</div>
					</div>
					<div class="main-thumb">
						<div class="main-thumb__img"><img src="./assets/img/main/1.jpg" alt=""></div>
					</div>
				</div>
			</main>

			<div class="content">

				{% include "sections/certificateSlider.njk" %}

				<section class="section s-catalog">
					<div class="s-catalog__container">
						{{ sectionHeader( "Каталог <span>продукции</span>", 'В данном разделе Вы можете скачать каталоги по трубопроводной арматуре "Bigtork" в формате pdf.' ) }}
						<div class="s-catalog__body">
							<a href="#" class="c-catalog">
								<div class="c-catalog__content">
									<div class="c-catalog__icon"></div>
									<div class="c-catalog__info">
										<span class="c-catalog__title">Общий каталог компании “Bigtork”</span>
										<span class="c-catalog__label">pdf</span>
									</div>
								</div>
								<div class="c-catalog__download"></div>
							</a>
							<a href="#" class="c-catalog">
								<div class="c-catalog__content">
									<div class="c-catalog__icon"></div>
									<div class="c-catalog__info">
										<span class="c-catalog__title">Общий каталог компании “Bigtork”</span>
										<span class="c-catalog__label">pdf</span>
									</div>
								</div>
								<div class="c-catalog__download"></div>
							</a>
							<a href="#" class="c-catalog">
								<div class="c-catalog__content">
									<div class="c-catalog__icon"></div>
									<div class="c-catalog__info">
										<span class="c-catalog__title">Общий каталог компании “Bigtork”</span>
										<span class="c-catalog__label">pdf</span>
									</div>
								</div>
								<div class="c-catalog__download"></div>
							</a>
							<a href="#" class="c-catalog">
								<div class="c-catalog__content">
									<div class="c-catalog__icon"></div>
									<div class="c-catalog__info">
										<span class="c-catalog__title">Общий каталог компании “Bigtork”</span>
										<span class="c-catalog__label">pdf</span>
									</div>
								</div>
								<div class="c-catalog__download"></div>
							</a>
							<a href="#" class="c-catalog">
								<div class="c-catalog__content">
									<div class="c-catalog__icon"></div>
									<div class="c-catalog__info">
										<span class="c-catalog__title">Общий каталог компании “Bigtork”</span>
										<span class="c-catalog__label">pdf</span>
									</div>
								</div>
								<div class="c-catalog__download"></div>
							</a>
							<a href="#" class="c-catalog">
								<div class="c-catalog__content">
									<div class="c-catalog__icon"></div>
									<div class="c-catalog__info">
										<span class="c-catalog__title">Общий каталог компании “Bigtork”</span>
										<span class="c-catalog__label">pdf</span>
									</div>
								</div>
								<div class="c-catalog__download"></div>
							</a>
						</div>
					</div>
				</section>

			</div>
			{% include "sections/footer.njk" %}
		</div>

		<script src="./assets/js/bundle.js"></script>
    </body>
</html>
