{% from "sections/breadcrumbs.njk" import breadcrumbs %}
{% from "blocks/sectionHeader.njk" import sectionHeader %}
{% from "cards/photo.njk" import photo %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Document</title>
		<link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
		<div class="wrapper">
			{% include "sections/header.njk" %}

			<main class="main have-thumb have-breadcrumbs">
				{{ breadcrumbs( [ 'Главная', 'О компании', 'Производство' ] ) }}
				<div class="main__container">
					<div class="main-info">
						<div class="main__content">
							<h1 class="title-1 main__title">Lorem <span>ipsum dolor sit</span> amet consectetur</h1>
							<p class="main__text">
								The BG series shift fork actuators are designed in a modular product line for operating quarter-turn control valves such as on-off or frequently adjusted ball, butterfly
								and plug valves.
								<br><br>
								The connection size conforms to the ISO5211 standard and can be perfectly installed
								on the valve that conforms to the ISO standard connection size.
							</p>
						</div>
					</div>
					<div class="main-thumb">
						<div class="main-thumb__img"><img src="./assets/img/main/1.jpg" alt=""></div>
					</div>
				</div>
			</main>

			<div class="content">

				{% include "sections/companyDevelopment.njk" %}

				<section class="section s-manuf">
					<div class="s-manuf__container">
						{{ sectionHeader( "Lorem ipsum <span>dolor sit amet</span>", "Lorem ipsum dolor sit amet dolore consectetur adipiscing" ) }}
						<div class="s-manuf__body">
							<div class="s-manuf__block">
								<div class="swiper-container">
									<div class="swiper is-crop s-photo__slider" data-swiper="photo">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												{{ photo( './assets/img/case/1.jpg' ) }}
											</div>
											<div class="swiper-slide">
												{{ photo( './assets/img/case/2.jpg' ) }}
											</div>
											<div class="swiper-slide">
												{{ photo( './assets/img/case/3.jpg' ) }}
											</div>
											<div class="swiper-slide">
												{{ photo( './assets/img/case/4.jpg' ) }}
											</div>
											<div class="swiper-slide">
												{{ photo( './assets/img/case/3.jpg' ) }}
											</div>
										</div>
									</div>
									<div class="swiper__arrows">
										<button class="swiper-arrow s-photo__arrow is-prev"></button>
										<button class="swiper-arrow s-photo__arrow is-next"></button>
									</div>
								</div>
								<div class="s-manuf__content">
									<p>
										The BG series shift fork actuators are designed in a modular product line for operating quarter-turn control valves such as on-off or frequently adjusted ball, butterfly
										and plug valves. The connection size conforms to the ISO5211 standard and can be perfectly installed on the valve that conforms to the ISO standard connection size.
										<br><br>
										The BG series shift fork actuators are designed in a modular product line for operating quarter-turn control valves such as on-off or frequently adjusted ball, butterfly
										and plug valves. The BG series shift fork actuators are designed in a modular product line for operating quarter-turn control valves such as on-off or frequently adjusted ball, butterfly.
									</p>
								</div>
							</div>
							<div class="s-manuf__block">
								<div class="swiper-container">
									<div class="swiper is-crop s-photo__slider" data-swiper="photo">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												{{ photo( './assets/img/case/1.jpg' ) }}
											</div>
											<div class="swiper-slide">
												{{ photo( './assets/img/case/2.jpg' ) }}
											</div>
											<div class="swiper-slide">
												{{ photo( './assets/img/case/3.jpg' ) }}
											</div>
											<div class="swiper-slide">
												{{ photo( './assets/img/case/4.jpg' ) }}
											</div>
											<div class="swiper-slide">
												{{ photo( './assets/img/case/3.jpg' ) }}
											</div>
										</div>
									</div>
									<div class="swiper__arrows">
										<button class="swiper-arrow s-photo__arrow is-prev"></button>
										<button class="swiper-arrow s-photo__arrow is-next"></button>
									</div>
								</div>
								<div class="s-manuf__content">
									<p>
										The BG series shift fork actuators are designed in a modular product line for operating quarter-turn control valves such as on-off or frequently adjusted ball, butterfly
										and plug valves. The connection size conforms to the ISO5211 standard and can be perfectly installed on the valve that conforms to the ISO standard connection size.
										<br><br>
										The BG series shift fork actuators are designed in a modular product line for operating quarter-turn control valves such as on-off or frequently adjusted ball, butterfly
										and plug valves. The BG series shift fork actuators are designed in a modular product line for operating quarter-turn control valves such as on-off or frequently adjusted ball, butterfly.
									</p>
								</div>
							</div>
							<div class="s-manuf__block">
								<div class="swiper-container">
									<div class="swiper is-crop s-photo__slider" data-swiper="photo">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												{{ photo( './assets/img/case/1.jpg' ) }}
											</div>
											<div class="swiper-slide">
												{{ photo( './assets/img/case/2.jpg' ) }}
											</div>
											<div class="swiper-slide">
												{{ photo( './assets/img/case/3.jpg' ) }}
											</div>
											<div class="swiper-slide">
												{{ photo( './assets/img/case/4.jpg' ) }}
											</div>
											<div class="swiper-slide">
												{{ photo( './assets/img/case/3.jpg' ) }}
											</div>
										</div>
									</div>
									<div class="swiper__arrows">
										<button class="swiper-arrow s-photo__arrow is-prev"></button>
										<button class="swiper-arrow s-photo__arrow is-next"></button>
									</div>
								</div>
								<div class="s-manuf__content">
									<p>
										The BG series shift fork actuators are designed in a modular product line for operating quarter-turn control valves such as on-off or frequently adjusted ball, butterfly
										and plug valves. The connection size conforms to the ISO5211 standard and can be perfectly installed on the valve that conforms to the ISO standard connection size.
										<br><br>
										The BG series shift fork actuators are designed in a modular product line for operating quarter-turn control valves such as on-off or frequently adjusted ball, butterfly
										and plug valves. The BG series shift fork actuators are designed in a modular product line for operating quarter-turn control valves such as on-off or frequently adjusted ball, butterfly.
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>

			</div>
			{% include "sections/footer.njk" %}
		</div>

		<script src="./assets/js/bundle.js"></script>
    </body>
</html>
