{% from "components/button.njk" import btn %}
{% from "sections/breadcrumbs.njk" import breadcrumbs %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Document</title>
		<link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
		<div class="wrapper">
			{% include "sections/header.njk" %}

			<main class="main have-thumb have-breadcrumbs">
				{{ breadcrumbs( [ 'Главная', 'Сервис' ] ) }}
				<div class="main__container">
					<div class="main-info">
						<div class="main__content">
							<h1 class="title-1 main__title">Сервис <span>BIGTORK</span></h1>
							<ul class="main__list">
								<li class="main__list-item">Срок действия гарантии определяется заводом-изготовителем и начинается c момента перехода права собственности;</li>
								<li class="main__list-item">Бесплатное устранение всех выявленных дефектов, возникших по вине производителя;</li>
								<li class="main__list-item">Работы будут выполнены быстро и качественно с применением фирменных комплектующих.</li>
							</ul>
						</div>
					</div>
					<div class="main-thumb">
						<div class="main-thumb__img"><img src="./assets/img/main/1.jpg" alt=""></div>
					</div>
				</div>
			</main>

			<div class="content">
				<div class="section"></div>
			</div>
			{% include "sections/footer.njk" %}
		</div>

		<script src="./assets/js/bundle.js"></script>
    </body>
</html>
