<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="./assets/css/style.css">
	<style>
		.test {
			width: 100%;
			height: 100%;
			padding: 64px 0;
		}
	</style>
</head>
<body>
	<div class="test">
		<div class="test__container">
			{% from "blocks/sectionHeader.njk" import sectionHeader %}
			{% from "cards/product.njk" import product %}
			{% from "cards/case.njk" import case %}

			{# {{ sectionHeader( title="Products <b>center</b>", text="Lorem ipsum dolor sit amet dolore consectetur adipiscing" ) }} #}

			{{ case() }}
		</div>
	</div>
	<script src="./assets/js/bundle.js"></script>
</body>
</html>